# Objective

The objective of this notebook is to explore how to use notebooks for homework.
You will be submitting your homework during the course using these notebooks.

In [ ]:
STUDENT_NAME = "Nombre Apellido"
COURSE_NAME = "test1"
EXERCISE_NAME = "python-intro"

In [ ]:
import numpy as np
import pygradus as gr

In [ ]:
def remove_vowels(s: str) -> str:
    """
    This function removes all vowels from strings
    Example: "hello" -> "hll"
    """
    
    # Write your code here

In [ ]:
assert remove_vowels("hola") == "hl"
answer_1  = remove_vowels("este fue un buen dÃ­a")
print(answer_1)

In [ ]:
def sum_list_of_floats(a: list, b:list) -> list:
    """
    Returns the coordinate wise sum of a and b.
    """
    
    # Write your code here

In [ ]:
assert np.allclose(
    sum_list_of_floats(
        [1, 2, 3], [4, 5, -2.3]),
    [5, 7, 0.7]
)
answer_2 = sum_list_of_floats([0, 0], [1, -1])
print(answer_2)

In [ ]:

proposed_solution = {
        'attempt': {
        'course_name': COURSE_NAME,
        'exercise_name': EXERCISE_NAME,
        'username': STUDENT_NAME,
    },
    'task_attempts': [
         {
             "name": "remove_vowels",
             "answer": str(answer_1),
         },
                  {
             "name": "sum_floats",
             "answer": str(answer_2),
         }
]

    }
import pygradus as gr
gr.check_solution(proposed_solution)